.features__container {
    padding-bottom: 47px;
}

.features__list {
    display: flex;
    gap: 30px;
}

.features__item {
    flex-basis: calc((100% - 90px) / 4);
}

.features__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

    background-color: var(--specific-color);
}

.features__svg {
    width: 70px;
    height: 70px;
    margin: 25px 100px;
}

.features__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features__descript {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--back-color);
}